.register-container {
    min-width: 270px;
    max-width: 400px;
    margin: 0 auto;
    width: 60%;
    height: 100vh;
}

.register-form {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    background-color: #4891FF;
    color: #ffffff;
    border: 0px;
    font-family: 'NanumSquare';
    border-radius: 8px;
    width: 45px;
    height: 35px;
}

.MU{
    display:flex;
    justify-content: space-around;
    font-size:30px;
    color : #4891FF;
}

.MULBO{
    color: #4891FF;
    font-size: 1.5rem;
    font-weight: bolder;
    border-bottom: 1.5px solid #999999;
}

.title{
    font-size: 1em;
    margin : 10px 0 5px 5px;
    color : #494949;
}

.NickName{
    display : flex;
    flex-direction: column;
}

.NickNameCer{
    display : flex;
}

.NickNameInput, .password, .password2, .selectBox {
    border-radius: 12px;
    border: 2px solid #E9E9E9;
    height: 25px;
    margin: 5px;
    font-family: 'NanumSquare';
}

.NickNameInput {
    width : 80%;
}

.selectBox {
    width: 97%;
    margin-bottom: 15px;
}

.EmailCer{
    border-radius: 0px;
    display : flex;
    justify-content: space-between;
    align-items: center;
}
.email{
    width : 50%;
    border-radius: 12px;
    border: 2px solid #E9E9E9;
    height: 25px;
    margin: 5px 2px 5px 5px;
    font-family: 'NanumSquare';
}
.kumoh{
    font-size: 0.6em;
    color: #999999;
    width: 30%;
    margin: 0 5px;
}

#btn1 {
    width: 20%;
}

#btn2 {
    width: 20%;
}

#btn3 {
    width: 20%;
}

.Password{
    display : flex;
    flex-direction: column;
    align-content: space-between;
}

.codeCer{
    display :flex;
    margin: 3px 0;
}
.code{
    border : none;
    border-bottom : 1px solid #999999;
    text-align: center;
    font-family: 'NanumSquare';
    width : 80%;
}

.Register{
    background-color: #4891FF;
    width : 100%;
    color : white;
    border-radius: 8px;
    text-align: center;
    font-size : 15px;
    margin-bottom: 20px;
}