.select{
    margin : 1.5em 0 1em 2em;
    width : 80%;
    border: 2px solid #4891FF;
    border-radius: 10px;
    height : 2.5em;
    color :#4891FF;
}

.footer{
    border-top : 2px solid #999999;
    margin : 0 auto;
    width : 80%;
    padding-top : 1em;
}

.PointDiv{
    background-color: #FFFADF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding : 20px;
}

.PointIcon{
    display: flex;
    background-color: #F7D800;
    color : #E9B900;
    font-size : 40px;
    width : 1.3em;
    height : 1.3em;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 15px;
}

.pointSelect{
    color : #E9B900;
    border : 2px solid #E9B900;
    border-radius : 5px;
    width : 70%;
    margin-right : 10px;
}

.point{
    width : 20%;
    color :#E9B900
}

.PointContent{
    display : flex;
    width : 60%;
    flex-direction: column;
    padding-top : 10px;
}

.nowPoint{
    text-align: center;
}

.title-input {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 40px;
    margin-bottom: 10px;
    border:none;
    border-bottom: 2px solid #7E7E7E;
    
}

.text-area {
    margin:  auto;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 90%;
    height: 250px;
    border:none;    
}

.preview{
    width: 90%;
    height: auto;
    border:2px solid #979797;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    border-radius: 5px;
    flex-wrap: wrap;
    
}

.img-submit{
    visibility: hidden;
}

.imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.file-img-box {
    width: 40%;
    margin: 5%;
}

.file-img {
    width: 100px;
    height: auto;
}

.remove-Button{
    position: absolute;
    margin-left: -35px;
}